.title {
    font-family: 'Roboto', sans-serif;
    color: #de3c4b;
    margin: 20px 0 0 0;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 0 10px 0;
}